.singleColor__mask-singleIcon {
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;
	cursor: pointer;
	border-radius: var(--borderRadius-wide);
	opacity: 0;
	transition: all 0.2s ease-in-out;
	&.visible {
		opacity: 1;
	}
	&:hover {
		background: rgba($color: #353535, $alpha: 0.1);
	}
}
