.picker__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	transition: all 0.2s ease-in-out;
	animation: appearance 0.4s ease-in-out;
	&.animation {
		opacity: 0;
	}
}
.picker__singleButton {
	width: 200px;
	height: 80px;
	font-weight: 700;
	font-size: 40px;
	line-height: 100%;
	color: var(--text-dark);
	&.transparent {
		opacity: 0.5;
		transition: all 0.2s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	&.disabled {
		pointer-events: none;
	}
}
