.picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	width: 700px;
	height: calc(100vh - 220px);
	margin: 0 auto;
	&__inputItem {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		cursor: auto;
		animation: appearance 0.4s ease-in-out;
		transition: all 0.2s ease-in-out;
		&-ico {
			margin: 16px 0 16px 20px;
		}
		&-input {
			position: relative;
			z-index: 2;
			width: 100%;
			margin: 0 60px 0 60px;
			font-weight: 700;
			font-size: 40px;
			line-height: 100%;
			color: var(--text-dark);
			background: transparent;
			height: 46px;
			outline: none;
			text-transform: uppercase;
		}
		&-placeholder {
			position: absolute;
			left: 120px;
			top: 50%;
			z-index: 1;
			transform: translateY(-50%);
			font-weight: 700;
			font-size: 40px;
			line-height: 100%;
			color: var(--text-dark);
			&.visible {
				opacity: 0.3;
			}
			&.invisible {
				opacity: 0;
			}
		}
		&-copy {
			margin: 16px 20px 16px 0;
			opacity: 0.5;
			transition: all 0.2s ease-in-out;
			&.disabled {
				pointer-events: none;
			}
			&:hover {
				opacity: 1;
			}
		}
		&.animation {
			opacity: 0;
		}
	}
}
